/* NAVBAR */
nav {
  font-family: "PT Sans Caption", sans-serif;
  height: 60px;
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 22;
  filter: blur(5);
  padding: 0;
}
.sticky nav {
  filter: blur(0);
  background-color: transparent;
}
.sticky.navbar{
  padding: 0 20px;
}
.navbar{
  padding: 10px 20px;
}
section#navbar {
  transition: color ease-in-out 0.5s;
  z-index: 9;
  background-blend-mode: multiply;
  background: linear-gradient(120deg, rgb(93, 79, 255) 0%, rgb(96, 114, 255) 100%);
}
nav a {
  color: rgb(192, 188, 188);
  padding: 10px;
  transition: all ease-in-out 0.5s;
}
nav a:hover {
  color: #fff;
}
nav a.active {
  color: #fff;
}
nav a + a {
  margin-left: 20px;
}
.resume {
  transition: all ease-in-out 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  animation-delay: 0.2s;
}
.resume:hover {
  background-color: #dee2ff;
  color:#5d4fff ;
}
.half {
  width: 50%;
  display: flex;
  align-items: center;
}
.end {
  justify-content: flex-end;
}
.static-social {
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 22;
}
.static-social ul {
  list-style: none;
  margin: 0;
}
.static-social ul li + li {
  margin-top: 20px;
}
.static-social ul li.last::after {
  content: "";
  height: 260px;
  width: 1px;
  display: block;
  margin: 20px auto 0 auto;
  background-color: #c0c7ff;
  background-blend-mode: lighten;
}
.static-social ul li {
  width: 20px;
  display: block;
}
.static-social ul.toggle li svg:hover{
  fill: #031d3c;
}
.static-social ul li svg {
  fill: #c0c7ff;
}
.static-social ul li:hover svg {
  fill: #fff;
}
.logo{
  display: flex;
  justify-content: flex-start;
}
.logo svg{
  height: 30px;
  stroke-width: 10px;
  fill: #fff;
}
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", " PT Sans Caption ", "sans-serif";
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(120deg, rgb(93, 79, 255) 0%, rgb(96, 114, 255) 100%);

}
body.eject{
  background: #f8fafd;
}
body * {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
}
section p {
  font-family: "PT Sans Caption", sans-serif;
}
/*INTRO*/

section.intro {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 50px 160px;
  margin-bottom: 100px;
  background: linear-gradient(120deg, rgb(93, 79, 255) 0%, rgb(96, 114, 255) 100%);
}
section.intro > span {
  font-size: 56px;
  margin-top: 60px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #fff;
  margin: 0;
  margin: 25px 0 0 0;
  letter-spacing: 4px;
}
section.intro > span.name {
  color: #b7b2ff;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}
section.intro > h2 {
  font-size: 56px;
  margin: 25px 0 0 0;
  color: #f8fafd;
  opacity: 0.95;
  letter-spacing: 4px;
}
section.intro > p {
  max-width: 700px;
  line-height: 30px;
  font-size: 18px;
  margin: 25px 0 0 0;
  color: #c4cbff;
}
a.get-in-touch {
  background-color: #dee2ff;
  color:#5d4fff ;
  font-size: 22px;
  font-weight: 500;
  display: block;
  margin-top: 25px;
  max-width: max-content;
  padding: 15px 30px;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}
a.get-in-touch:hover {

  color: #f8fafd;
  background-color: #8f87fd;
}

/* ABOUT */

section.about {
  padding: 50px 160px;
  background-color: #f8fafd;
}
section.about h3 {
  font-size: 30px;
  color: #031d3c;
}
section.about h3::after {
  content: "";
  width: 500px;
  height: 1px;
  margin: auto 0 auto 20px;
  background-color: #1e73afaa;
  display: inline-block;
  top: -6px;
  position: relative;
}
section.about p {
  max-width: 600px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
}
/* EXPERIENCE */
section.experience{
  background-color: #f8fafd;

}
section.experience .work-place {
  display: flex;
}
section.experience .work-place ul.companies {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
  border: 1px solid #24292e11;
  position: relative;
  max-height: max-content;
  height: max-content;
}
section.experience .work-place ul.companies::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #091d2922;
  left: 0px;
  position: absolute;
}
.company span {
  white-space: nowrap;
}
.details {
  margin: 40px 0 0 0;
  padding: 0 40px;
}
.details h2 {
  margin: 10px 0;
}
.details a {
  color: #0177b5;
}
.details span {
  font-family: "PT Sans Caption", sans-serif;
  color: #757575;
}
.details ul {
  list-style: none;
  padding: 0;
}
.details ul li {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-weight: 600;
  color: #091d29;
  line-height: 30px;
}
.details ul li svg {
  height: 14px;
  fill: #0177b5;
  margin-bottom: -1px;
  margin-right: 10px;
}

section.experience .work-place ul.companies li {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 15px 10px;
  position: relative;
}
section.experience .work-place ul.companies li + li {
  border-top: 1px solid #24292e11;
}
section.experience .work-place ul.companies li a {
  display: flex;
  align-items: center;
}
section.experience .work-place ul.companies li.active::before {
  background-color: #1e73af;
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  left: 0;
  position: absolute;
}
section.experience .work-place ul.companies li:hover {
  background-color: #1e73af44;
}
section.experience .work-place ul.companies li img {
  height: 30px;
}
section.experience .work-place ul.companies li span {
  font-family: "PT Sans Caption", sans-serif;
  margin-left: 30px;
  color: #091d29;
}
section.experience .work-place ul.companies li.active span {
  color: #1e73af;
}
.details .overlay-outer .item {
  transition: all ease-in-out 0.5s;
  opacity: 0;
  display: none;
}
.details .overlay-outer .item.show {
  display: block;
  animation: animateOpacity 1s ease-in-out;
  animation-fill-mode: forwards;
}
/* CONTACT */
section.contact {
  padding-bottom: 100px;
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
