
/* .sticky {
  position: fixed;
  top: 0;
  z-index: 22;
  filter: blur(5);
  padding: 0;
}
.sticky.navbar{
  padding: 0 20px;
  transition: color ease-in-out 0.5s;
  z-index: 9;
  background-blend-mode: multiply;
  background: linear-gradient(120deg, rgb(93, 79, 255) 0%, rgb(96, 114, 255) 100%);
}
.sticky.navbar nav {
  background-color: transparent;
} */
/* .navbar{
  padding: 10px 20px;
  width: 100%;
}
nav a {
  color: #cecee2;
  padding: 10px;
  transition: all ease-in-out 0.5s;
}
nav a:hover {
  color: #fff;
}
nav a.active {
  color: #fff;
}
nav a + a {
  margin-left: 20px;
} */
.resume {
  transition: all ease-in-out 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  animation-delay: 0.2s;
}
.resume:hover {
  background-color: #dee2ff;
  color:#5d4fff;
}
.half {
  width: 50%;
  display: flex;
  align-items: center;
}
.end {
  justify-content: flex-end;
}
.static-social {
  display: flex;
}
.static-social ul {
  list-style: none;
  margin: 0;
}
.static-social ul li + li {
  margin-top: 20px;
}
.static-social ul li {
  width: 20px;
  display: block;
}
.static-social ul.toggle li svg:hover{
  fill: #757575;
}
.static-social ul li svg {
  fill: #c0c7ff;
  transition: fill ease-in-out 0.5s;
}
.static-social ul li:hover svg {
  fill: #fff;
}
.logo{
  display: flex;
  justify-content: flex-start;
}
.logo svg{
  height: 30px;
  stroke-width: 10px;
  fill: #fff;
}
/*GENERAL*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", " PT Sans Caption ", "sans-serif";
  max-width: 100vw;
  overflow-x: hidden;
}
body.eject{
  background: #f8fafd;
}
body * {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
}
section p {
  font-family: "PT Sans Caption", sans-serif;
}
/*INTRO*/

/* .hero {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background: linear-gradient(120deg, #5d4fffd9 0%, #6072ffcc 100%),url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 50px;
} */
.intro{
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
}
.intro > span {
  font-size: 56px;
  margin-top: 60px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #fff;
  margin: 0;
  margin: 25px 0 0 0;
  letter-spacing: 4px;
}
.intro > span.name {
  color: #b7b2ff;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}
.intro > h2 {
  font-size: 56px;
  margin: 25px 0 0 0;
  color: #f8fafd;
  opacity: 0.95;
  letter-spacing: 4px;
}
.intro > p {
  max-width: 700px;
  line-height: 30px;
  font-size: 18px;
  margin: 25px 0 0 0;
  color: #c4cbff;
}


/* ABOUT */

section.about {
  padding: 40px 100px;
  background-color: #f8fafd;
}
section.about h3 {
  font-size: 30px;
  margin: 25px 0;
  color: #031d3c;
}
section.about h3::after {
  content: "";
  width: 500px;
  height: 1px;
  margin: auto 0 auto 20px;
  background-color: #5d4fff88;
  display: inline-block;
  top: -6px;
  position: relative;
}
section.about p {
  max-width: 600px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
  margin: 25px 0;
}
/* EXPERIENCE */
section.experience{
  background-color: #f8fafd;
}

section.experience .work-place ul.companies {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #24292e11;
  position: relative;
  max-height: max-content;
  height: max-content;
}
section.experience .work-place ul.companies::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #00000017;
  left: 0px;
  position: absolute;
}
.company span {
  white-space: nowrap;
}
.details {
  margin: 0;
  padding: 0 40px;
}
.details h2 {
  margin: 10px 0;
  color: #031d3c;
}
.details a {
  color: #5d4fff;
}
.details span {
  font-family: "PT Sans Caption", sans-serif;
  color: #757575;
}
.details ul {
  list-style: none;
  padding: 0;
}
.details ul li{
  margin-top: 20px;
  position: relative;
  padding-right: 20px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 500;
  color: #091d29;
  line-height: 30px;
  padding-left: 20px;
}
.details ul li svg {
  width: 7px;
  height: 14px;
  display: inline-block;
  fill: #5d4fff;
  margin-bottom: -1px;
  margin-right: 10px;
}

section.experience .work-place ul.companies li {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 15px 10px;
  position: relative;
}
section.experience .work-place ul.companies li + li {
  border-top: 1px solid #24292e11;
}
section.experience .work-place ul.companies li a {
  display: flex;
  align-items: center;
}
section.experience .work-place ul.companies li.active::before {
  background-color: #5d4fff;
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  left: 0;
  position: absolute;
}
section.experience .work-place ul.companies li:hover {
  background-color: #5458ab1c;
}
section.experience .work-place ul.companies li img {
  height: 30px;
}
section.experience .work-place ul.companies li span {
  font-family: "PT Sans Caption", sans-serif;
  margin-left: 30px;
  color: #091d29;
}
section.experience .work-place ul.companies li.active span {
  color: #5d4fff;
}
.details .overlay-outer .item {
  transition: all ease-in-out 0.5s;
  opacity: 0;
  display: none;
}
.details .overlay-outer .item.show {
  display: block;
  animation: animateOpacity 1s ease-in-out;
  animation-fill-mode: forwards;
}
/* WORK */
section.work .projects{
  margin-top: 50px;
}
section.work .projects .item{
  display: flex;
}
section.work .projects .half img{
  width: 200px;
}
section.work .projects .half {
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}
section.work .projects .half + .half{
  justify-content: center;
  margin-left: 150px;
}
section.work .projects .item h4{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #091d29;
  margin: 15px 0 10px 0;
}
section.work .projects .item .tech{
  display: flex;
}
section.work .projects .item .tech span{
  color: #5d4fff;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 34px;
    padding: 5px 10px;
    background-color: #0000000a;
}
section.work .projects .item .tech span + span{
  margin-left: 10px;
}
section.work .projects .item .pr-action{
  background-color: #8280fd;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "PT Sans Caption", sans-serif;
  color: #fff;
}
/* CONTACT */
section.contact {
  padding-bottom: 100px;
}
.contact-lg{
  margin-top: 25px;
  display: block;
  width: max-content;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "PT Sans Caption", sans-serif;
  color: #8f87fd;
  border: 2px solid #8f87fd;
  font-size: 20px;
  transition: background-color ease-in-out 0.5s;
}
.contact-lg:hover{
  background-color: #6576fc0f;
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
