section.about{
  h4{
    margin-top: 40px;
    font-size: 22px;
    color: $dark;
  }
  .skill-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    color: $text;
    .skill-item{
      margin-right: 40px;
      margin-top: 40px;
      @media(max-width:992px){
        width: 100%;
        margin-right: 0;
      }
      .bar-outer{
        .bar{
          display: inline-block;
          width: 280px;
          height: 6px;
          background-color: $light-primary;
          position: relative;
          border-radius: 7px;
          margin-right: 10px;
          color: $text;
          @media(max-width:992px){
            width:calc(100% - 60px)
          }
          .animate-item{
            display: inline-block;
            background-color: $primary;
            height: inherit;
            position: absolute;
            border-radius: 7px;
            left: 0;
          }
        }
      }
    }
  }
  .contents{
    display: flex;
    @media(max-width:576px){
      flex-direction: column-reverse;
      justify-content: center;
    }
    .content{
      display: flex;
      flex-direction: column;
      width: 70%;
      @media(max-width:576px){
        width: 100%;
      }
      img{
        border-radius: 50%;
        width: 200px;
        margin-left: auto;
        box-shadow: 0 0 10px #3e3e3e26;
        @media(max-width:576px){
          margin: 20px auto;
          width: 150px;
        }
      }
      +.content{
        width: 30%;
        @media(max-width:576px){
          width: 100%;
        }
      }
    }
  }
}


