section.experience{
  padding: 80px 0;
  background: linear-gradient(180deg, rgba($dark, 0.8) 0%, rgba($dark, 0.85) 100%),url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  h3{
    color: $white;
    &::after{
      background-color: #ffffff21;
    }
  }
  .work-place {
    display: flex;
    position: relative;
    border-radius: 25px;
    margin-top: 40px;
    ul{
      &.companies {
        display: flex;
        flex-flow: column;
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #24292e11;
        position: relative;
        max-height: max-content;
        height: max-content;
        &::before{
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          background-color: #00000017;
          left: 0px;
          position: absolute;
        }
        .company{
          span{
            white-space: nowrap;
          }
        }
        li{
          display: flex;
          flex-flow: row;
          align-items: center;
          padding: 15px 10px;
          position: relative;
          a{
            display: flex;
            align-items: center;
          }
          &+li{
            border-top: 1px solid #24292e11;
          }
          &.active{
            span{
              color: $primary;
            }
            &::before{
              background-color: $primary;
              content: "";
              display: block;
              width: 2px;
              height: 100%;
              left: 0;
              position: absolute;
            }
          }
          &:hover{
            background-color: #5458ab1c;
          }
          img{
            height: 30px;
          }
          span{
            font-family: "PT Sans Caption", sans-serif;
            margin-left: 30px;
            color: $dark;
          }
        }
      }
    }
    .details{
      margin: 0;
      // padding: 0 40px;
      h2 {
        margin: 10px 0;
        color: $dark;
      }
      a {
        color: $primary;
      }
      span {
        font-family: "PT Sans Caption", sans-serif;
        color: $light;
        opacity: 0.7;
      }
      ul{
        li{
          margin-top: 20px;
          position: relative;
          padding-right: 20px;
          font-family: "PT Sans Caption", sans-serif;
          font-weight: 500;
          color: $dark;
          line-height: 30px;
          padding-left: 20px;
          color: $light;
        }
      }
      .overlay-outer{
        .item{
          transition: all ease-in-out 0.5s;
          display: flex;
          flex-direction: column;
          margin-left: 90px;
          margin-top: 40px;
          position: relative;
          background-color: #ffffff0d;
          padding: 10px 20px;
          border-radius: 10px;
          h2{
            display: block;
            width: 100%;
            color: $light;
            a{
              font-family: "Montserrat", sans-serif;
            }
          }
          &.show{
            animation: animateOpacity 1s ease-in-out;
            animation-fill-mode: forwards;
            &::before{
              height: 100%;
              content: '';
              width: 2px;
              background: #ffffff21;
              position: absolute;
              left: -60px;
              bottom: -66px;
            }
          }
          .half{
            display: flex;
            flex-direction: column;
          }
          &::after{
            content: '';
            height: 2px;
            background: #ffffff21;
            position: absolute;
            width: 50px;
            left: -52px;
            z-index: -11;
            top: 35px;
          }
        }
        .company-name{
          display: flex;
          .img-wrap{
            position: absolute;
            height: 60px;
            width: 60px;
            background-color: $white;
            left: -90px;
            top: 6px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.wudi{
  background-image: url("../../assets/wudi.png");
  background-position: 2px -3px;
  background-size: cover;
}
.pf{
  background-image: url("../../assets/pf.jpg");
  background-size: cover;
  background-position: center;
}