section.experience{
  .work-place {
    display: flex;
    padding-top: 40px;
    ul{
      &.companies {
        display: flex;
        flex-flow: column;
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #24292e11;
        position: relative;
        max-height: max-content;
        height: max-content;
        &::before{
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          background-color: #00000017;
          left: 0px;
          position: absolute;
        }
        .company{
          span{
            white-space: nowrap;
          }
        }
        li{
          display: flex;
          flex-flow: row;
          align-items: center;
          padding: 15px 10px;
          position: relative;
          a{
            display: flex;
            align-items: center;
          }
          &+li{
            border-top: 1px solid #24292e11;
          }
          &.active{
            span{
              color: $primary;
            }
            &::before{
              background-color: $primary;
              content: "";
              display: block;
              width: 2px;
              height: 100%;
              left: 0;
              position: absolute;
            }
          }
          &:hover{
            background-color: #5458ab1c;
          }
          img{
            height: 30px;
          }
          span{
            font-family: "PT Sans Caption", sans-serif;
            margin-left: 30px;
            color: $dark;
          }
        }
      }
    }
    .details{
      margin: 0;
      padding: 0 40px;
      h2 {
        margin: 10px 0;
        color: $dark;
      }
      a {
        color: $primary;
      }
      span {
        font-family: "PT Sans Caption", sans-serif;
        color: $gray;
      }
      ul{
        li{
          margin-top: 20px;
          position: relative;
          padding-right: 20px;
          font-family: "PT Sans Caption", sans-serif;
          font-weight: 500;
          color: $dark;
          line-height: 30px;
          padding-left: 20px;
        }
      }
      .overlay-outer{
        .item{
          transition: all ease-in-out 0.5s;
          opacity: 0;
          display: none;
          &.show{
            display: block;
            animation: animateOpacity 1s ease-in-out;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}