footer{
  &.sep{
    padding:40px 0;
    background-color: $light;
  }
  .static-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:992px){
      flex-flow: column;
      align-items: flex-start;
    }
    ul{
      display: flex;
      align-items: center;
      width: 50%;
      @media(max-width:991px){
        margin-bottom: 40px;
      }
      @media(max-width:540px){
        flex-direction: column;
        align-items: flex-start;
      }
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          display: flex;
          align-items: center;
          span{
            color: $gray;
            transition: color ease-in-out 0.5s;
          }
          svg{
            fill: $gray;
            width: 20px;
            margin-right: 20px;
          }
          + a{
            margin-left: 20px;
            @media(max-width:540px){
              margin-left: 0;
              margin-top: 20px;
            }

          }
          &:hover{
            span{
              color: $text;
            }
            svg{
              &.git{
                fill: #24292e;
              }
              &.ln{
                fill: #0177b5;
              }
              &.so{
                .light{
                  fill: #bcbbbb;
                }
                .orange{
                  fill: #f48031;
                }
              }
              fill: $dark;
            }
          }
        }
        +li{
          margin-left: 60px;
          @media(max-width:540px){
            margin-left: 0;
            margin-top: 20px;
          }
        }
      }
    }
    .copy{
      display: inline-block;
      span{
        color: $gray;
        display: inline-block;
        width: max-content;
      }
    }
  }
}