section.hero{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background: $light;
  // background: linear-gradient(120deg, rgba(94, 79, 255, 0.9) 0%, rgba(96, 114, 255, 0.9) 100%),url("../assets/bg.jpg");
  // background: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(228, 229, 233, 1) 100%),url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  .draw{
    @media(max-width:576px){
      display: flex;
      justify-content: center;
    }
    img{
      display: block;
      position: absolute;
      width: 300px;
      right: 0px;
      top: 138px;
      @media(max-width:576px){
        width: 140px;
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
  .navbar{
    padding: 20px 0;
    @media(max-width:576px){
      padding: 10px 0;
    }
    &.sticky{
      position: fixed;
      top: 0;
      padding: 0;
      left: 0;
      width: 100%;
      transition: color ease-in-out 0.5s;
      z-index: 9;
      background-blend-mode: multiply;
      background: linear-gradient(120deg, rgb(93, 79, 255) 0%, rgb(96, 114, 255) 100%);
      box-shadow: 0 0 4px #0000006c;
      .logo{
        svg{
          fill: $white;
        }
      }
      a {
        color: $light-primary;
        transition: color ease-in 0s;
        &:hover,&.active{
          color: $white;
        }
      }
    }
    nav{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        color: $text;
        padding: 10px 0;
        transition: color ease-in-out 0.5s;
        font-size: 1em;
        &:hover,&.active{
          color: $primary;
        }
        &+a{
          margin-left: 40px;
        }
      }
      .logo{
        a{
          padding: 0;
          svg{
            height: 30px;
            stroke-width: 10px;
            fill: $primary;
            @media(max-width: 576px){
              height: 20px;
            }
          }
        }
      }
    }
    .half{
      &.end{
        .nav-links{
          @media(max-width: 768px){
            display: none;
          }
        }
        .menu{
          display: none;
          @media(max-width: 768px){
            width: 50px;
            display: block;
            svg{
              fill: $dark;
            }
          }
          @media(max-width: 576px){
            width: 35px;
            display: block;
            svg{
              fill: $dark;
            }
          }
        }
      }
    }
  }
  .intro{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    padding-top:100px;
    position: relative;
    @media(max-width:768px){
      padding-top: 40px;
    }
    @media(max-width:576px){
      padding-top: 60px;
    }
    h2 {
      font-size: 50px;
      margin: 25px 0 0 0;
      color: $dark;
      letter-spacing: 4px;
      line-height: 70px;
      max-width: 600px;
      @media(max-width:567px){
        margin-top: 40px;
        font-size: 23px;
        line-height: 32px;
        text-align: center;
      }
    }
    p{
      max-width: 700px;
      line-height: 30px;
      font-size: 18px;
      margin: 25px 0 0 0;
      color: $gray;
      @media(max-width:567px){
        text-align: center;
      }
    }
    a{
      +a{
        margin-left: 20px;
      }
    }
  }
}


.nav-links-mob{
  &.active{
    @media(max-width: 768px){
      display: flex;
    }
  }
  filter: blur(0);
  display: none;
  position: fixed;
  background-color: $white;
  min-height: 100vh;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 30px 20px;
  flex-direction: column;
  width: 60%;
  .close{
    justify-content: flex-end;
    display: flex;
  }
  svg{
    width: 25px;
    align-self: flex-end;
    fill: $dark;
  }
  a{
    margin-top: 60px;
    text-align: center;
    color: $dark;
    &.active{
      color: $primary;
    }
  }
}
.ctas{
  display: flex;
  @media(max-width:576px){
    justify-content: center;
  }
}