section.work{
  .projects{
    margin-top: 50px;
    .item{
      display: flex;
      @media(max-width:576px){
        display: flex;
        background: #fff;
        border: 1px solid #e0e4fe;
        border-radius: 4px;
        padding:20px;
      }
      h4{
        font-size: 30px;
        color: $dark;
        margin: 15px 0 10px 0;
        @media(max-width:576px){
          margin: 0;
          font-size: 20px;
        }
      }
      .tech{
        display: flex;
        @media(max-width:576px){
          margin-top: 10px;
        }
        span{
          color: $primary;
          font-family: "PT Sans Caption", sans-serif;
          border-radius: 34px;
          padding: 5px 10px;
          background-color: #0000000a;
          @media(max-width:567px){
            font-size: 14px;
          }
          +span{
            margin-left: 10px;
          }
        }
      }
      .pr-action{
        background-color: $primary;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: "PT Sans Caption", sans-serif;
        color: #fff;
        margin-top: 40px;
        @media(max-width: 576px){
          margin-top: 20px;
        }
      }
      .sec{
        @media(max-width:576px){
          margin-top: 20px;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        img{
          @media(max-width: 567px){
            width: 80px;
          }
        }
        p{
          @media(max-width: 576px){
            font-size: 16px;
          }
        }
      }
    }
    .half{
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      @media(max-width: 576px){
        align-items: center;
      }
      img{
        width: 200px;
      }
      +.half{
        justify-content: center;
        margin-left: 150px;
      }
    }
  }
}