@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
@import "./vars.scss";

*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: $primary;
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding: 20px 30px;
    display: flex;
    width: 100%;
}
ul,li{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}