a.get-in-touch {
  border:2px solid $primary;
  color:$primary ;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-top: 25px;
  max-width: max-content;
  padding: 15px 30px;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}
a.get-in-touch:hover {
  background-color: $primary;
  color: $light;
}

