a.get-in-touch {
  border:2px solid #dee2ff;
  color:#fff ;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-top: 25px;
  max-width: max-content;
  padding: 15px 30px;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}
a.get-in-touch:hover {
  background-color: #ffffff30;
}
.btn-contact{
  display: block;
  padding: 15px 30px;
  width: fit-content;
  margin-top: 40px;
  font-size: 20px;
  color: $light;
  border-radius: 5px;
  background-color: $primary;
}