a.get-in-touch {
  border:2px solid $secondary;
  color:$secondary ;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-top: 25px;
  max-width: max-content;
  padding: 10px 30px;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 4px;
  transition: all ease-in-out 1s;
  &.fill{
    background-color: $secondary;
    color: $light;
  }
}
a.get-in-touch:hover {
  background-color: rgba($secondary,0.2);
}

