.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", " PT Sans Caption ", "sans-serif";
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $light;
}
body * {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul{
  padding: 0;
  margin:0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.sep{
  background-color: $light;
  padding: 80px 0;
  h3{
    display: block;
    font-size: 30px;
    padding: 25px 0;
    color: $dark;
    &::after{
      content: "";
      width: 500px;
      height: 1px;
      margin: auto 0 auto 20px;
      background-color: rgba($primary,0.5);
      display: inline-block;
      top: -6px;
      position: relative;
    }
  }
  p{
    max-width: 700px;
    line-height: 30px;
    font-size: 18px;
    margin: 25px 0 0 0;
    color: $text;
  }
}
.half{
  display: flex;
}
.bar-animate{
  .animate-item{
    animation: animateWidth 2s 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.09, 0.8, 0.24, 0.77);
  }
}
@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateWidth{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}